@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.hover-link:hover {
  background-color: black;
}

.social-icon-hover:hover {
  background-color: #fc5647;
  color: white;
}

.social-icon-footer {
  background-color: #fc5647;
  color: white;
}

.image-container {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 2s ease-in-out,
    transform 2s ease-in-out;
}

.slide-in {
  opacity: 1;
  transform: translateY(0);
}

.custom-hidden {
  opacity: 0;
  transition: all 2s;
  filter: blur(15px);
  transform: translateX(-100%);
}

.custom-showTranstion {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.parallax img{
  position: absolute;
}

.mountain {
  width: 100%;
  height: 75%;
  bottom: 0;
  z-index: 3;
}

.sun {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.house1 {
  top: 55%;
  left: 5%;
  transform: translate(-20%, -20%);
  z-index: 4;
  }

.house2 {
  top: 60%;
  left: 25%;
  transform: translate(-20%, -20%);
  z-index: 4;
}

.house3 {
  top: 60%;
  right: 20%;
  transform: translate(-20%, -20%);
  z-index: 4;
}

.house4 {
  top: 50%;
  right: 0;
  transform: translate(-20%, -20%);
  z-index: 4;
}

.clouds-left {
  left: 0;
  width: 20%;
}

.clouds-right {
  right: 0;
  width: 20%;
}

.clouds-bottom {
  bottom: 0px;
  width: 100%;
}

.copy {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 20%;
  width: 100%;
  text-align: center;
}

.copy span {
  opacity: 0;
}