@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.hover-link:hover {
  background-color: black;
}

.social-icon-hover:hover {
  background-color: #fc5647;
  color: white;
}

.social-icon-footer {
  background-color: #fc5647;
  color: white;
}

.image-container {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 2s ease-in-out,
    transform 2s ease-in-out;
}

.slide-in {
  opacity: 1;
  transform: translateY(0);
}

.custom-hidden {
  opacity: 0;
  transition: all 2s;
  filter: blur(15px);
  transform: translateX(-100%);
}

.custom-showTranstion {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
